# Node
node_modules/
.env
.env.*.local
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Next.js
frontend/.next/
frontend/out/

# Optional: IDEs
.vscode/
.idea/

*.fig
*.xd

.DS_Store
.prettierignore
